.background-container {
    background-image: url(../../assets/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-principal {
    width: 100%;
    height: 100%;
    text-align: left;
    justify-content: center;
    align-content: center;
    color: #fff;
    font-size: 24px;
}

@media (max-width:600px) {
    .section-principal {
        font-size: 12px;
        height: 100vh;
    }
}